In [1]:
import pandas as pd
sessions = pd.read_csv('/Users/lukearend/phd/kfx/ref/sessions.csv')
recordings = pd.read_csv('/Users/lukearend/phd/kfx/ref/recordings.csv')
metadata = pd.read_csv('/Users/lukearend/phd/kfx/ref/metadata.csv')

In [11]:
df1 = sessions.drop(columns='path')
df1.head(1)

   recording indiv        date drug      doses
0          0  M015  2022-07-27  SAL  (0, 0, 0)

In [13]:
df2 = recordings[['recording', 'lfp_start', 'lfp_end', 'theta_start', 'theta_end']]
df2.head(1)

   recording  lfp_start   lfp_end  theta_start  theta_end
0          0      24077  18029080           94        171

In [16]:
df3 = metadata[['recording', 'signal', 'region', 'created', 'disk', 'duration', 'firstsample', 'samplerate', 'gain']]
df3.head(1)

,recording,signal,region,created,disk,duration,firstsample,samplerate,gain
0,0,ap,hpc,2022-07-27 19:41:37,167613398260,7255.991267,8342038,30000,500

In [18]:
df = df1.merge(df2, left_on='recording', right_on='recording')
df = df.merge(df3, left_on='recording', right_on='recording')

In [25]:
df[['indiv', 'date', 'created', 'signal', 'region', 'drug', 'doses', 'duration', 'firstsample', 'disk']]

,indiv,date,created,signal,region,drug,doses,duration,firstsample,disk
0,M015,2022-07-27,2022-07-27 19:41:37,ap,hpc,SAL,"(0, 0, 0)",7255.991267,8342038,167613398260
1,M015,2022-07-27,2022-07-27 19:41:37,ap,pfc,SAL,"(0, 0, 0)",7256.005667,8342038,167613730900
2,M015,2022-07-27,2022-07-27 19:41:37,lfp,hpc,SAL,"(0, 0, 0)",7255.991600,695169,13967783830
3,M015,2022-07-27,2022-07-27 19:41:37,lfp,pfc,SAL,"(0, 0, 0)",7256.006000,695169,13967811550
4,M016,2022-07-28,2022-07-28 13:19:08,ap,hpc,SAL,"(0, 0, 0)",7466.006033,2005727,172464739370
...,...,...,...,...,...,...,...,...,...,...
139,M032,2022-10-27,2022-10-27 15:45:10,lfp,pfc,CP101606,"(1, 3, 10, 30)",9065.804400,1153931,17451673470
140,M033,2022-10-28,2022-10-28 15:40:06,ap,hpc,CP101606,"(1, 3, 10, 30)",9060.964267,5999872,209308274560
141,M033,2022-10-28,2022-10-28 15:40:06,ap,pfc,CP101606,"(1, 3, 10, 30)",9060.957867,5999872,209308126720
142,M033,2022-10-28,2022-10-28 15:40:06,lfp,hpc,CP101606,"(1, 3, 10, 30)",9060.964400,499989,17442356470
143,M033,2022-10-28,2022-10-28 15:40:06,lfp,pfc,CP101606,"(1, 3, 10, 30)",9060.958000,499989,17442344150